@import "./fonts.scss";

//colors
$primary: #ef5b4c;
$secondary: #007bff;
$background: #fff;
$background2: #f9f9f3;
$dark: #000000;
$border: #C3C3C3;
$logo: #1b4a8a;

//background-image
$backgroundImage: url('../assets/banner-photo.jpg');

//font
$mainFont: Open-Sans, Arial, Helvetica, sans-serif;